/* ------------------------------------------------------- */
/* Frogi-secure   Baron Corentin   2016                    */
/* Site : Frogi-secure distributeur                        */
/*                                                         */ 
/* Description du fichier : feuille de style               */
/*                                                         */
/* @Ce fichier contient le style du site web               */
/* ------------------------------------------------------- */

body {
    background-color:#F5F5F5 ; 
}

/*--------------------style menu header--------------------*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
    border-bottom:1px solid #9ea7af;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.li_menu {
    float: left;
}
.li_compte {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.95em 1em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #585858;
}
.active {
    background-color: #4CAF50;
}
.deco   {
    float:right;
    color: white;
}
.is-hidden {
  display: none;
}

.btn {
    display: inline-block;
    padding: 5px;
    color: white;
    text-align: center;
    padding: 0.95em 1em;
    text-decoration: none;
}

li span:hover:not(.active){
    background-color: #585858;
    cursor: pointer;
}

/*--------------------style contact-----------------*/
.fencontact {
    border-bottom:1px solid #C1C3D1;
    border-top:1px solid #C1C3D1;
    border-left:1px solid #C1C3D1;
    border-right:1px solid #C1C3D1;
    position: fixed;
    margin-top: 1.5em;
    height: 7em;
    width: 15em;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent ;
    border-right: 0.8em solid transparent;
    border-bottom: 1.5em solid #C1C3D1;
    margin-left: 2em;
    position: fixed;
}
.text_contact{
    color: #333;
    left: 2.4em;
    margin-top:1em;
    position: relative;
}
.boutonContact {
	background: #4CAF50;
	background: -webkit-linear-gradient( #4CAF50, #7bac32);
	background: -moz-linear-gradient( #4CAF50, #7bac32);
	background: -ms-linear-gradient( #4CAF50, #7bac32);
	background: -o-linear-gradient( #4CAF50, #7bac32);
	background: linear-gradient( #4CAF50, #7bac32);
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	border: 1px solid #818384;
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    height: 1.7em;
    margin-left: 15px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    margin-top:1.5em;
    left: 2.8em;
    width: 10em;
    text-align:center;
}
.boutonContact:hover {
    background: #EBEBEB;
	background: -webkit-linear-gradient( #EBEBEB, #7bac32);
	background: -moz-linear-gradient( #EBEBEB, #7bac32);
	background: -ms-linear-gradient( #EBEBEB, #7bac32);
	background: -o-linear-gradient( #EBEBEB, #7bac32);
	background: linear-gradient( #EBEBEB, #7bac32);
}

/*---------------------style tableau------------------*/
th a {
    color:white;
    text-decoration:none; 
    padding:0.70em;
    
}

td a    {
    color: #333;
    text-decoration:none;
    padding:0.5m;
    
}
.table-fill {
    background: white;
    border-radius:1em;
    border-collapse: collapse;
    margin: auto;
    max-width: 80em;
    padding:5em;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th:first-child {
    border-top-left-radius:3px;
}
 
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

 
tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
    border-bottom: 1px solid #9ea7af;
}
 
tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
    border-bottom-right-radius:3px;

}

td:last-child {
    border-right: 0px;
}

th.text-left {
   color:#D5DDE5;;
   background:#676767;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-weight: 100;
   padding:24px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
}
th.text-left:hover {
    background: #7D7D7D;
}
td.text-left {
   text-align: left;
   background:#FFFFFF;
   padding:20px;
   text-align:left;
   vertical-align:middle;
   font-weight:300;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
   border-left: 1px solid #C1C3D1
}
.hov:hover {
   border-top: 1px solid #22262e;
   border-bottom: 1px solid #22262e;
}
.hov:hover a {
   text-decoration:underline; 
   color:#4CAF50;
}

/*---------------------syle formulaire de recherche-----------------*/
.bt {
    float : left;
    position: relative;
    margin-left: 5.5em;
    
}
.titrecentre{
    width: 27%;
    margin : auto;
    min-height: 0.1em;
    padding:1em;
    min-width: 15em;
    color:white;;
    background:#676767;
    border-bottom:4px solid #9ea7af;
    border-left: 1px solid #343a45;
    border-right: 1px solid #343a45;
    font-weight: 300;
    padding:1em;
    text-align:left;
    vertical-align:middle;
  
}
.fcentre{
    width: 27%;
    margin : auto;
    min-height: 10em;
    min-width: 15em;
    background:#FFFFFF;
    padding:1em;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
}
.p {
    float:left;
    position: relative;
    margin-left: 0.4em;
}
.param_libelleR{
	position:relative;
	float:left;
	font-weight:normal;
	padding: 0.2em;
	width:45%;	
}
.param_valeurR{
	position:relative;
	float:left;
	font-weight:bold;
	padding: 0.2em;
	width:auto;
}
.espace {
    position:relative;
	float:left;
	font-weight:bold;
	padding: 0.2em;
	width:auto;
    height: 1.8em;
}
.boxRrecherche {
	background: #9ea7af;
	background: -webkit-linear-gradient( #9ea7af, #C1C3D1);
	background: -moz-linear-gradient( #9ea7af, #C1C3D1);
	background: -ms-linear-gradient( #9ea7af, #C1C3D1);
	background: -o-linear-gradient( #9ea7af, #C1C3D1);
	background: linear-gradient( #9ea7af, #C1C3D1);
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	border: 1px solid #818384;
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    height: 2.5em;
    position: relative;
    text-decoration: none;
    top: 0.8em;
    width: 90px;
    float:left;
    margin-left: 5em;
}
.boxRrecherche:hover {
    background: #343a45;
	background: -webkit-linear-gradient( #343a45, #9ea7af);
	background: -moz-linear-gradient( #343a45, #9ea7af);
	background: -ms-linear-gradient( #343a45, #9ea7af);
	background: -o-linear-gradient( #343a45, #9ea7af);
	background: linear-gradient( #343a45, #9ea7af);
}

.boxcompte {
    background: #9ea7af;
	background: -webkit-linear-gradient( #9ea7af, #C1C3D1);
	background: -moz-linear-gradient( #9ea7af, #C1C3D1);
	background: -ms-linear-gradient( #9ea7af, #C1C3D1);
	background: -o-linear-gradient( #9ea7af, #C1C3D1);
	background: linear-gradient( #9ea7af, #C1C3D1);
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	border: 1px solid #818384;
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: bold;
    height: 2.5em;
    position: relative;
    text-decoration: none;
    top: 0.8em;
    width: 90px;
    float:left;
    margin-left: 11.5em;
    margin-top: 0.8em;
}
.boxcompte:hover {
    background: #343a45;
	background: -webkit-linear-gradient( #343a45, #9ea7af);
	background: -moz-linear-gradient( #343a45, #9ea7af);
	background: -ms-linear-gradient( #343a45, #9ea7af);
	background: -o-linear-gradient( #343a45, #9ea7af);
	background: linear-gradient( #343a45, #9ea7af);
}

/*--------------------------style page info-----------------------*/
.vert{
    background: #4CAF50;
    border:1px solid #C1C3D1;
    height: 1em;
    width: 1em;
    display:inline-block;
}
.rouge{
    background: #B22222  ;
    border:1px solid #C1C3D1;
    height: 1em;
    width: 1em;
    display:inline-block;
}
.orange{
    background: #FF8C00 ;
    border:1px solid #C1C3D1;
    height: 1em;
    width: 1em; 
    display:inline-block;
}

.param_libelleI{
	position:relative;
	float:left;
	font-weight:normal;
	padding: 0.2em;
    padding-left: 1em;
	width:45%;	
}
.param_valeurI{
	position:relative;
	float:left;
	font-weight:bold;
	padding: 0.2em;
	width:auto;
}
.param_valeurListe{
	position:relative;
	float:left;
    padding-left: 3em;
    padding:auto;
	width:20%;
}
.titre {
    margin : auto;
    padding:1em;
    color:white;;
    background:#676767;
    border-bottom:4px solid #9ea7af;
    font-weight: 300;
    padding:1em;
    text-align:left;
    vertical-align:middle;
    margin-bottom: 0.5em;
}

.left{
    position:relative;
    float:left;
    width:34%;
    margin-left: 1em;
    background:#FFFFFF;
    margin-top:1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    text-align:left;
    vertical-align:middle;
}
.right{
    background:#FFFFFF;
    position:relative;
    float:right;
    width:60%;
    margin-right:1em;
    margin-top:1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
}
.box
{
    position:relative;
    margin-bottom: 2em;
}
.clear{
    
    clear:both;
}
.liste {
    background:#FFFFFF;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    float: left;
    width: 30%;
    margin: 1em;
    padding-bottom: 0.5em;
    z-index:1;
}
.exclu  {
    background:#FFFFFF;
    position: :relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    margin-left:2em;
    margin-right:2em;
    margin-bottom:1.5em;
    float:left;
    padding-bottom: 0.5em;
    width:45%;
}
.alone {
    background:#FFFFFF;
    position: relative;
    float:left;
    width: 98%;
    margin:0 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    padding-bottom: 0.5em;
}

.global {
    background:#FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #C1C3D1;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    border-top: 1px solid #C1C3D1;
    padding-bottom: 0.5em;
    background:#FFFFFF;
    margin:auto;
}

/*--tabbleau page info---*/
.tab_info {
    
    background: white;
    border-radius:1em;
    border-collapse: collapse;
    margin: auto;
    margin-top:0.5em;
    max-width: 80em;
    padding:5em;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    border-right: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    border-top:1px solid #C1C3D1;
    border-left: 1px solid #C1C3D1;
}
th.th_info {
    color:white;
    background:#676767;
    border-bottom:2px solid #9ea7af;
    border-right: 1px solid #343a45;
    border-left: 1px solid #343a45;
    border-top: 1px solid #343a45;
    font-weight: 100;
    padding:0.4em;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
td.td_info {
    text-align: left;
    background:#FFFFFF;
    margin-left:10em;
    padding:0.3em;
    text-align:center;
    vertical-align:middle;
    font-weight:1em;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;  
}
tr.tr_info {
    border-bottom: 1px solid #C1C3D1;
    border-top:1px solid #C1C3D1;
}



/*---onglet---*/
.onglet {
    display:inline-block;
    margin-left:3px;
    margin-right:3px;
    padding:3px;
    border:1px solid black;
    cursor:pointer;
}

.onglet_0   {
    background:#dddddd;
    border-bottom:1px solid black;
}

.onglet_1 {
    background:#FAFAFA;
    border-bottom:0px solid black;
    padding-bottom:4px;
}

.contenu_onglet {
    background-color:#FAFAFA;
    border-top:1px solid black;
    margin-top:-1px;
    padding:5px;
    display:none;
}

ul  {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:-10px
}

h1  {
    margin:0px;
    padding:0px;
}